.timelinR {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  min-height: 100px;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.timelinR.static > .item {
  margin-left: 2.5px;
}
.timelinR > .background {
  position: absolute;
  left: 0;
  height: 100%;
  border-right: 1px solid black;
  pointer-events: none;
  overflow-x: hidden;
}
.timelinR > .background p {
  position: absolute;
  bottom: 0;
  color: black;
}
.timelinR > .item {
  position: absolute;
  overflow: hidden;
  width: auto;
}
.timelinR > .item:hover {
  z-index: 2;
}
.timelinR > .item.range {
  background-color: #85a2ff;
}
.timelinR > .item.range .resize {
  background-color: #537bff;
  cursor: e-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
}
.timelinR > .item.range .resize.l {
  left: 0;
}
.timelinR > .item.range .resize.r {
  right: 0;
}
.timelinR > .item.range p {
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem;
  outline: none;
}
.timelinR > .item.point {
  background-color: #85a2ff;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}
.timelinR > .item.point p {
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.timelinR > .currenttime {
  position: absolute;
  height: 100%;
  background-color: red;
  width: 2px;
  z-index: 10;
}