$lines: black;
$text: white;
$item-background: #85a2ff;
$resize-background: #537bff;
$currenttime: red;

.timelinR{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    min-height: 100px;
    user-select: none !important;

    &.static{
        >.item{
            margin-left: 2.5px;
        }
    }
    
    >.background{
        position: absolute;
        left: 0;
        height: 100%;
        border-right: 1px solid $lines;
        pointer-events: none;
        overflow-x: hidden;
        
        p{
            position: absolute;
            bottom: 0;
            color: $lines;
        }
    }
    >.item{
        position: absolute;
        overflow: hidden;
        width: auto;
        
        &:hover{
            z-index: 2;
        }

        $handleWidth: 5px;
        &.range{
            background-color: $item-background;
    
            .resize{
                background-color: $resize-background;
                cursor: e-resize;
                position: absolute;
                top: 0;
                bottom: 0;
                width: $handleWidth;
    
                &.l{
                    left: 0;
                }
    
                &.r{
                    right: 0;
                }
            }

            p{
                margin-left: $handleWidth;
                margin-top: 0;
                margin-bottom: 0;
                padding: .5rem;
                outline: none;
            }
        }
        &.point{
            background-color: $item-background;
            border-radius: 0 .5rem .5rem .5rem;
            p{
                padding: .5rem;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    >.currenttime{
        position: absolute;
        height: 100%;
        background-color: $currenttime;
        width: 2px;
        z-index: 10;
    }
}